body {
    background-image: linear-gradient(0deg, rgba(57, 39, 28, 0.299),rgba(60, 29, 32, 0.104)), url(cool-background.jpg);
    background-blend-mode: multiply;
    background-size: 1600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.favorited{
    display: flex;
    flex-direction: row;
}

.gold-star {
    color: gold;
    font-size: 20px;
    background-color: black;
    padding: 6px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.empty-star {
    font-size: 30px;
    padding: 6px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    
    
}

a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: rgb(6, 184, 190);
    transition: .25s;
}

p {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    

}

.album-year {
    background-color: white;
    opacity: .8;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 55px;
    padding: 30px;
    background: linear-gradient(rgb(188, 132, 132), rgb(209, 209, 245));
    border-radius: 10px;
    opacity: .9;
    background-repeat: no-repeat;
    background-size: 1600px;
    background-attachment: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}

h2 { 
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(75, 34, 116);
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h5 {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(96, 73, 73);
}

.record {
    /* border: solid rgb(246, 152, 37) 5px; */
    /* box-shadow: 15px 10px 5px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* margin: 10px; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(33, 80, 89);
    background: url(wall-of-records.jpeg);
    background-size: 1000px;
    width: 450px;
    margin: auto;
    height: 800px;

}

.flex-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 33.33%;
    padding: 10px;
}

.artist {
    background-image: linear-gradient(to bottom right, rgb(255, 237, 198), rgb(231, 160, 131));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;


}

img {
    border: 5px solid black;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.note {
    background-color:black;
    padding: 4px;
    border-radius: 10px;
    color:rgb(203, 230, 252);
    font-family: arial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.options {
    background-color:rgb(225, 239, 251);
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}